@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


body{
    font-family: 'Quicksand', sans-serif;
}


.navbar-nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}


.margin-class{
    margin-top: 30px; 
}

.card-title{
    font-weight: bold;
    font-size: 32px;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-weight: bold;
    color: rgb(66, 135, 245)
}






